{% extends '_base.html' %}
{% load static %}
{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/logo.png' %}" id="site-log" class="img-fluid" alt="CampGrounds logo" />
  <img src="{% static 'images/camp.png' %}" class="img-fluid" alt="CampGrounds picture" />

  {% if user.username %}
  <h2 id="tagline" class="lead">The best place to find your next camping site. Click <a id="here"
      href="{% url 'blog_list' %}">here</a> to explore the
    site</h2>
  {% else %}
  <h2 id="tagline" class="lead">The best place to find your next camping site. Login or signup to explore the
    site</h2>
  {% endif %}
</div>
{% endblock content %}